.DS_Store

node_modules

lib/core/metadata.js
lib/core/MetadataBlog.js

website/translated_docs
website/build/
website/yarn.lock
website/node_modules
website/i18n/*

*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.pem
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
node_modules
npm-debug.log
dist/*
.env
.next
.awcache
coverage/
